{% extends "layout.html" %}
{% block content_2 %}

{% endblock %}

{% block content_1 %}
    <div class="content-section">
        <form method="POST" action="">
            {{ delegateordertodriverForm.hidden_tag() }}
            {{ delegateordertodriverForm.csrf_token() }}
            <fieldset class="form-group">

                <div class="form-group border-bottom mb-3">
                    {{ delegateordertodriverForm.driver.label(class="form-control-label") }}
                    {% if delegateordertodriverForm.driver.errors %}
                        {{ delegateordertodriverForm.driver(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in delegateordertodriverForm.driver.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ delegateordertodriverForm.driver(class="form-control form-control") }}
                    {% endif %}
                </div>


            </fieldset>
            <div class="form-group border-bottom mb-3">
                {{ delegateordertodriverForm.submitDelegateOrdersToDriver(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content_1 %}